//Default colors
$white: #fff;
$black: #000;
$primary-red: #d71e28;
$secondary-red: #d20826;
$footer-bg : #f4f0ed;
$header-border : #fcc60a;
$box-bg: #f9f7f6;
$box-border: #b5adad;
$footer-links: #3b3331;
$font-color: #44464a;
$primary-blue: #2199e8;
$primary-green: #008000;
$red-color: #ff0000;
$white: #fff;
$black: #000;
$primary-red: #d71e28;
$secondary-red: #d20826;
$footer-bg : #f4f0ed;
$header-border : #fcc60a;
$box-bg: #f9f7f6;
$box-border: #b5adad;
$box-border1: #d2d2d2;
$footer-links: #3b3331;
$font-color: #44464a;
$font-color1: #787575;
$font-color2: #3b3331;
$font-color3:#787070;
$link-color:#5a469b;
$link-color1: #352b6b;
$primary-blue: #2199e8;
$primary-green: #008000;
$red-color: #ff0000;
$thankyou-box: #d9d9d9;
$tooltip-color: #e2dede;
$progressbarbg1: #bfc0be;
$progressbartext: #575a5e;





