
<nav class="navbar navbar-expand-lg navbar-light header row">
    <a routerLink="" class="navbar-brand" >Library Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        
        <li class="nav-item">
          <a [routerLink]="['']" class="nav-link" >Book</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/book-add" class="nav-link" >Add Book</a>
        </li> -->
      </ul>

    </div>
  </nav> 
